.encabezado{
	font-weight: bold;
	
	background: #fcb000; 
	background: -moz-linear-gradient(left, #01965B 0%, #019A4C 100%); 
	background: -webkit-linear-gradient(left, #01965B 0%,#019A4C 100%); 
	background: linear-gradient(to right, #01965B 0%,#019A4C 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01965B', endColorstr='#019A4C',GradientType=1 ); 
	padding: 10px;
	width: 420px;
	border-radius: 0 50px 50px 0;
	color: #fff;
}
table td:nth-child(2n+1){
	font-weight: bold;
	color:#818487;
}

.enca-pie{
	height: 50px;
}

.fondo-pie-pagina{
	
	background: #f9f9f9; 
	background: -moz-linear-gradient(-45deg, #f9f9f9 19%, #fcb000 46%, #01965B 61%, #000000 63%, #000000 100%); 
	background: -webkit-linear-gradient(-45deg, #f9f9f9 19%,#fcb000 46%,#01965B 61%,#000000 63%,#000000 100%);
	background: linear-gradient(135deg, #f9f9f9 19%,#fcb000 46%,#01965B 61%,#000000 63%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01965B', endColorstr='#000000',GradientType=1 ); 
}